<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Upgraded_MOMO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2943EB71D48DE3000C0C325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2943ECB1D48DE3000C0C325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2943ED61D48DE3000C0C325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
